.terraform
.terraform.lock.hcl
.idea
.DS_Store
.first_time_run
tf.plan
terraform.tfstate
terraform.tfstate.backup
main.tf.json
*tags_override.tf.json
.idea
__pycache__
dist
build
.coverage
coverage.xml
.venv
.vscode
setenv.sh
.env
Reference
.mypy_cache
.pytest_cache
opta_crash_report.zip
*.pem
local
