[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pipenv-setup = "*"
isort = "*"
flake8 = "*"
mypy = "*"
black = "19.10b0"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
coverage = "*"
argparse = "*"
pyinstaller = "*"
macholib = "*"

[packages]
pyinquirer = ">1.0,<2"
click = ">=7.0,<8"
pytz = "2021.1"
colored = ">=1.4.2,<2"
pyyaml = ">=5.0,<6"
rich = ">=9.0,<10"
pick = ">=1.0,<2"
GitPython = ">=3.0,<4"
boto3 = ">=1.0,<2"
amplitude-python = "<1"
sentry-sdk = "<1"
getmac = "<1"
requests = ">=2.0,<3"
kubernetes = ">=12.0,<13"
python-hcl2 = ">=2.0,<3"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
