[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pipenv-setup = "*"
isort = "*"
flake8 = "*"
mypy = "*"
black = "*"
pytest = "*"
coverage = "*"
argparse = "*"
pyinstaller = "*"

[packages]
pyinquirer = "*"
click = "*"
pyyaml = "*"
rich = "*"
pick = "*"
GitPython = "*"
boto3 = "*"
amplitude-python = "*"
sentry-sdk = "*"
getmac = "*"
requests = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
