[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pipenv-setup = "*"
isort = "*"
flake8 = "*"
mypy = "*"
black = "*"
pytest = "*"
coverage = "*"

[packages]
pyinquirer = "*"
click = "*"
pyyaml = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
